---
import { useStoryblokApi } from '@storyblok/astro'
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import About from "@components/about.astro";
import Cta from "@components/cta.astro";
import { Image } from 'astro:assets';

const storyblokApi = useStoryblokApi()

// Fetch articles
const { data } = await storyblokApi.get('cdn/stories', {
  content_type: 'Article', // Use the content type you've set up in Storyblok
  sort_by: 'created_at:desc', // Sort articles by creation date
  version: 'published' // Only fetch published articles
});

// Transform Storyblok stories with media type checking
const articles = data.stories.map((story) => ({
  id: story.id,
  title: story.content.title,
  publishedAt: new Date(story.created_at),
  slug: story.slug,
  author: story.content.author,
  category: story.content.category,
  thumbnail: story.content.thumbnail,
  tags: story.content.tags
}));

// console.log(articles);
---

<Layout title="Sessions">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sessions</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-5 max-w-4xl mx-auto">
        {articles.map((article, index) => 
          <li>
            <a href={`/sessions/${article.slug}`}>
              <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center hover:bg-stone-500/20 transition p-4 rounded">
                {article.thumbnail && <Image
                    src={article.thumbnail.filename}
                    alt={article.title}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={500}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md !shadow-none"
                  />}
                  <div>
                    <span class="text-yellow-500 uppercase tracking-wider text-sm font-medium">
                      {article.category}
                    </span>
                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {article.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-slate-400">
                        {article.author}
                      </span>
                      <span class="text-slate-400">• </span>
                      <time
                        class="text-slate-400"
                        datetime={article.publishedAt.toISOString()}>
                        {article.publishedAt.toDateString()}
                      </time>
                    </div>
                  </div>
              </div>
            </a>
          </li>
        )}
      </ul>
      <About />
      <Cta />
    </main>
  </Container>
</Layout>
